.drawerToggleBtn {
  position: absolute;
  top: 10px;
  left: 20px;
  padding: 5px 10px;
  background-color: #eaeaea;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  
}

.drawer {
  position: fixed;
  top: 0;
  left: -250px; 
  width: 250px;
  background-color: #1c273a;
  height: 100%;
  transition: left 0.3s ease-in-out;
  padding-top: 20px;
}

.drawerOpen {
  left: 0;
}

.drawerUl {
  list-style-type: none;
  padding: 0;
  margin-top: 3rem;
}

.drawerLi {
  margin: 15px 0;
}

.drawerLink {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 8px 16px;
}

.drawerLink:hover {
  background-color: #f4f4f4;
}
